.wrapper {
    background: rgb(40, 32, 75);
    background-size: cover;
    height: 100%;
    display: flex;
    text-align: center;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
    padding-bottom: 10px
}