.card {
  border-radius: 5px;
  width: 250px;
  height: 250px;
  margin: 0.90rem;
  position: static;
  transition: all .2s ease-in-out;
}

.card > .img-container {
  height: 100%;
  overflow: hidden;

}

.card > .img-container > img {
  height: 100%;
}

.card:hover {
  box-shadow: 5px 5px 10px white, 5px 5px 10px white;;
  transform: scale(1.03);
  cursor: pointer;
}

.card:active {
  transform: translate(1px, 1px);
}